body {
   color: #333333;
   font-family: 'Roboto', sans-serif;
 font-size:1em;
   background-color: floralwhite;
   margin:0;
}

main{
    max-width: 900px;
    margin: auto;
    margin-bottom: 6em;
    display:block;
}

article{
    margin-bottom:6em;
}

h1, h2, h3{
    font-family: 'Domine', serif;
    color:orangered;
}

h1{
    font-size:5em;
}

p{
    line-height: 1.35em;
}

img{
    margin:auto;
    display:block;
}

.main-img {
    margin: auto;
    width: 75%;
    display:block;
}

#article-main-content{
    /* border:1px solid red; */
    max-width:500px;
    margin:auto;
    
}

blockquote{
    font-family: 'Domine', serif;
    font-size:2.4em; 
    
}

#article-main-content blockquote{
    border-top: 2px dotted orangered; 
    border-bottom:2px dotted orangered;
}

/*if the quote needs to be cited...*/
.citation{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}


/* header n footer */
header{
    background-color:orangered;
    width:100%;
    min-height: .5em;
    margin-bottom:1em;
}

footer{
    background-color:orangered;
    width:100%;
    min-height: 3em;
}


/*figure*/
figure{
    border:0px dotted red;
    text-align:center;
}

figure img{
    margin-bottom:1em;
}

 figcaption{
    font-style:italic;
 }


/*side bar (criticisms)*/ 
aside{
     background-color: darkorange;
     padding: 1em 2em 4em;
     color:black;
}

aside h2{
    color: white;
    font-size:3em;
}

aside h3{
    color: black;
}


